<header id="anc0">
    <div class="container-fluid" id="cabecalho">
        <nav class="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="/assets/logoti.png" alt="Logo"  id="imglogo" class="d-inline-block align-text-top">
              </a>
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" [routerLink]="['']">
                            Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/cardapio_categorias']">
                           Categoria
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Cardápio
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                       Localização
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                         Contato
                        </a>
                      </li>
                </ul>
            </div>
        </nav>
    </div>
</header>



